@font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/popping/Poppins-Regular.ttf);
}
* {
    box-sizing: border-box;
    font-family:Poppins-Regular;
}

html {
    /* font-family: Poppins-Regular, sans-serif; */
    color: #626262;
    line-height: 1.25;
    background-color: #22252c;
}

body {
    margin: 0;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

h2 {
    /* margin: 0 0 .833em; */
    color: #4f4e4e;
    font-weight: 900;
    /* font-size: 28px; */
    text-transform: uppercase;
}
/* header */
.main-header {
    min-height: 4.5625rem;
    width: auto;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-bottom : 2px solid black;
    font-family:Poppins-Regular;
}
.header-warpper {
    max-width: 980px;
    margin: 0 auto;
    color: #ffffff;
}

.logo>img {
    width: 8.375rem;
    margin-top: 20px;
}

.header-link a{
    text-transform: uppercase;
    padding: 16px;
    font-size: 1.3125rem;
    color: #ffffff;
    font-weight: 700;
}
.header-link a:hover {
    border: 2px solid #ffffff;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    color: #21ac91;
    background-color: #fefefe;
    border-radius: 100px
    
}
.menu-btn {
    display: none;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius:100px;
    border:2px solid black;
    font-size: 20px;
    font-weight: 100px;
    height: 70px;
}
/* search-section */
.search-section {
    height: auto;
    background-color: #383b42;
}
.search-warper {
    max-width: 980px;
    margin: auto;
    padding-bottom: .5625rem;
}
form input[type=text] {
    margin-top: .3125rem;
    padding: 10px;
    font-size: 1.0625rem;
    border: 1px solid rgb(141, 139, 139);
    border-radius: 100px;
    float: left;
    width: 80%;
    background-color: #22252c;
    color: #fefefe;
  }
.popular-tags {
    margin-left: 2px
}
/* grid photo */
.grid-container {
    /* display: grid; */
    height: 500px;
    border-bottom: 1px solid;
    /* background-color: #21ac91; */
}
/* footer */

/* #about {
    height:90px; 
    background-color: #ffffff
} */
.main-footer {
    max-width: 980px;
    margin: auto;
}
.stuff>img {
    width: 200px;
    border-radius:100px;
    font-weight: 500;
    margin-top: 10px;
}
.stuff> h2 {
font-size: 3.125rem;
color: black;
margin: 0%;
font-family: a;
}
.stuff>h3 {
    color: #868e96!important;
    font-size: 1.25rem;
    margin: auto;
}
.about-stuff-text {
    margin-left: 90px;
    font-family:Poppins-Regular;
    font-size: 1.5rem;
    font-weight: bold;
}

/* helper* */

/* flex helper */
.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.fg-1 {
    flex-grow: 1;
}

.flex.column {
    flex-direction: column;
}

.flex.flex-row {
    flex-direction: row wrap;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.container-bg {
    background-color: #f0f0f0;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* media query */
/* tablet */

/* moblie */
@media only screen and (max-width: 760px) {
.main-header .search-section {
    min-width: 500px;
    max-height: 1px;
}
.header-link {
    display: none;
}
.menu-btn {
    display: block;
}
}
/* 
@media only screen and (max-width: 470px) {
.main-header {
display: ;
} */